name: Deploy

on:
  push:
    branches: [ main ]

env:
  PLATFORMS: linux/amd64

jobs:
  build-scrapers:
    name: Build Scrapers
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: pinkynrg
          password: ${{ secrets.DOCKER_HUB_LOGIN_TOKEN }}

      - name: Build and Push Scrapers
        id: build-scrapers
        env:
          REGISTRY_NAME: pinkynrg
          REPOSITORY_NAME: scrapers
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: |
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:latest
          cache-from: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY_NAME }}/${{ env.REPOSITORY_NAME }}:buildcache,mode=max
